30 * * * * /opt/console -command=squad > /proc/1/fd/1 2> /proc/1/fd/2
15 * * * * /opt/console -command=player > /proc/1/fd/1 2> /proc/1/fd/2
0 0 * * * /opt/console -command=fixture:current-season > /proc/1/fd/1 2> /proc/1/fd/2
